@keyframes linkListNavItem {
  0% {
    opacity: 0;
    transform: translateY(30px)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes slideRight {
  0% { width: 0; }
  100% { width: 100%; }
}

@keyframes HSlider {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}

@keyframes zoom {
  0%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    text-shadow: -17px 2px 0 #ffa2ea;
    transform: translateX(100px)
  }

  100% {
    opacity: 1;
    text-shadow: 0 0 #ffa2ea;
    transform: translateX(0)
  }
}

@keyframes shadowSlideOut {
  0% {
    opacity: 0;
    text-shadow: -50px 2px 0 #ffa2ea;
  }

  100% {
    opacity: 1;
    text-shadow: 0 0 #ffa2ea;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all .4s cubic-bezier(.19,1,.22,1) .1s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
