@import "variables";
@import "animations";

html{
  scroll-behavior: smooth;
}

.underlined-word{
  position: relative;
  padding-right: 10px;
  &::after{
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    bottom: -10px;
    background-image: url("/public/svg/lines.svg");
    background-repeat: no-repeat;
    width: 155px;
    height: 17px;
  }
}

.fancy-hover{
  position: relative;
  z-index: 11;
  transition: transform .5s cubic-bezier(.19,1,.22,1);
  &::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #ffa2ea;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
    border-radius: inherit;
    transform: translate3d(2px, 2px, 0);
    transition: opacity .5s cubic-bezier(.19,1,.22,1);
  }
  &:hover {
    transform: translate3d(-2px, -2px, 0);
    &::after {
      opacity: 1;
    }
  }
}

.play-btn, .close-btn{
  & .btn-bg{
    &::after, &::before{
      border-radius: 100%;
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    &::before{
      opacity: 0;
      transition: opacity 0ms linear .5s;
    }
  }
  & .btn-control-icon,.btn-bg::after{
    transition: transform .5s cubic-bezier(.19,1,.22,1);
  }
  &:hover{
    & .btn-bg {
      &::before {
        opacity: 1;
        transition: opacity 0ms linear;
      }

      &::after, {
        transform: translate3d(-2px, -2px, 0);
      }
    }
    & .btn-control-icon{
      transform: translate3d(-2px, -2px, 0);
    }
  }
}
