@import "variables";
@import "animations";
@import "fonts";
@import "@/core/icons/style.css";

html{
  //scroll-behavior: smooth;
}

.underlined-word{
  position: relative;
  padding-right: 5px;
  overflow: hidden;
  &::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    background-image: url("/svg/lines.svg");
    background-repeat: no-repeat;
    background-size: 100% 17px;
    width: 100%;
    height: 17px;
  }
}

.fancy-hover{
  @apply border border-dark-gray rounded hover:border-dark-gray/0 transition-all my-3 md:my-5;
  position: relative;
  z-index: 11;
  transition: transform .5s cubic-bezier(.19,1,.22,1);
  &::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #ffa2ea;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
    border-radius: inherit;
    transform: translate3d(4px, 4px, 0);
    transition: opacity .5s cubic-bezier(.19,1,.22,1);
  }
  &:hover {
    transform: translate3d(-2px, -2px, 0);
    &::after {
      opacity: 1;
    }
  }
}

.play-btn, .close-btn, .scroll-to-top-btn{
  & .btn-bg{
    &::after, &::before{
      border-radius: 100%;
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    &::before{
      opacity: 0;
      transition: opacity 0ms linear .5s;
    }
  }
  & .btn-control-icon,.btn-bg::after{
    transition: transform .5s cubic-bezier(.19,1,.22,1);
  }
  &:hover{
    & .btn-bg {
      &::before {
        opacity: 1;
        transition: opacity 0ms linear;
      }

      &::after, {
        transform: translate3d(-2px, -2px, 0);
      }
    }
    & .btn-control-icon{
      transform: translate3d(-2px, -2px, 0);
    }
  }
}

.banner-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFDEF7;
  background-image: url("/img/boxes_bg.webp");
  background-position: 50%;
  background-repeat: repeat;
  background-size: auto 100%;
  &::after{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
    background: linear-gradient(270deg, rgba(255, 222, 247, .9) 0.08%, rgba(255, 222, 247, 0.5) 10.2%, rgba(255, 222, 247, 0.8) 17.2%, rgba(255, 222, 247, 0.8) 70.33%, rgba(255, 222, 247, 0.5) 78.5%, rgba(255, 222, 247, .9) 92.88%);
  }
}
.industries-list-slider .swiper-wrapper{
  transition-timing-function: linear;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}


.description-text{
  @apply text-base md:text-xl 2xl:text-2xl text-primary font-medium pb-1 md:pb-1.5
}
.view-detail-btn{
  @apply text-sm md:text-base text-base-gray 2xl:text-xl hover:text-pink transition
}


// Blog Detail CSS
.blog-detail-page{
  .blog-content-index{
    .indexed-link{
      @apply underline cursor-pointer
    }
  }
  .blog-content{
    &{
      @apply text-[#111111]
    }
    p{
      @apply md:text-lg
    }
    h3{
      @apply text-2xl md:text-3xl font-bold
    }
    .blog-content-section{
      & {
        @apply flex flex-col gap-[33px] mt-[33px]
      }
      .blog-content-block{
        @apply flex flex-col gap-4
      }
      h4{
        @apply text-xl md:text-2xl font-bold
      }
    }
  }
}
