@font-face {
  font-family: 'Liberation Sans';
  src: url('@/assets/fonts/LiberationSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Vermena Grotesk';
  src: url('@/assets/fonts/vremenagroteskbold.ttf') format('truetype');
}