:root{
  // Btn Radius
  --box-radius: 20px;
  --btn-bg-radius: 12px;
  --btn-sm-radius: 8px;

  // Btn Sizes
  --btn-size-bg: 68px;
  --btn-size-md: 56px;
  --btn-size-sm: 48px;
  --btn-size-xs: 40px;
  --btn-size-xss: 36px;

  // Btn colors
  --btn-palin-hover: #E18427;
  --btn-wbg-hover: #273AE1;

  // Heading Sizes
  --hero-heading-size: 64px;
  --section-heading-size-1: 56px;
  --section-heading-size-2: 48px;
  --sub-heading-size-1: 24px;
  --sub-heading-size-2: 20px;

  // Heading Colors
  --heading-plain-color: #212529;
  --heading-wbg-color: #FFFFFF;
  --body-size-1: 18px;
  --body-size-4: 16px;
  --body-size-3: 14px;

  // Margins
  --body-margin: 60px;
  --margin-main-lg: 24px;
  --margin-main-md: 20px;
  --margin-main-sm: 16px;
  --margin-main-xs: 8px;
  --margin-main-xxs: 6px;
  --margin-main-xxxs: 4px;

  // Input Fields
  --inp-size-lg: 68px;
  --inp-size-md: 56px;
  --inp-size-sm: 48px;
  --inp-size-xs: 40px;
  --inp-size-xxs: 36px;
  --inp-size-xxxs: 32px;
  --inp-border-color: #D7D7D7;
  --inp-border-radius: 20px;
  --inp-text-color: #212529;
  --inp-plc-color: #5A626A;

  // Extras
  --date-size: 12px;
  --drop-shadow: 0px 8px 34px 0px rgba(97, 97, 97, 0.15);
}
